html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    margin: 15px;
/*    height: 100%;*/
    overflow: auto;
}

.list {
    margin: 15px;
}

.album {
    display:flex;
    flex-direction: row;
    margin: 20px;
    border: black solid 5px;
}

.album__year,.album__name {
    margin-left: 10px;
}

.header, .footer  {
    text-align: center;
    flex-grow: 0;
}
